
.project-header-container {
  height: 350px;
  background-image: url('../../assets/images/background-scribble.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-header-container h1 {
  padding-top: 70px;
  font-size: 100px;
  text-align: center;
}

@media (max-width: 500px) {
  .project-header-container {
    margin: 0 auto;
    height: 200px;
  }

  .project-header-container h1 {
    font-size: 60px;
  }
}