h1 {
  padding-top: 70px;
  font-size: 100px;
  text-align: center;
}

h3 {
  margin: 4% 30%  2%;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-links img{
  width: 80px;
  margin: 60px;
  cursor: pointer;
}
