.lets-chat {
  padding-top: 70px;
  font-size: 100px;
  text-align: center;
}

.say-hello {
  margin: 4% 20%  2%;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-links img{
  width: 80px;
  margin: 40px 80px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .lets-chat {
    font-size: 60px;
  }

  .say-hello {
    font-size: 20px;
  }
}
