.home-header {
  /* border: 1px solid white; */
  width: 100%;
  height: 640px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.left-container,
.right-container {
  width: 50%;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 8%;
}

#name {
  font-size: 110px;
}

.left-container h1 {
  text-align: left;
  font-size: 80px;
}

.left-container p {
  text-align: left;
  font-size: 27px;
  width: fit-content;
  margin-bottom: 100px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.right-container img {
  width: 420px;
  height: auto;
}