.home-header {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-size: cover;
}

.left-container,
.right-container {
  width: 50%;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 8%;
}

#name {
  font-size: 90px;
  z-index: 100;
}

.left-container h1 {
  text-align: left;
  font-size: 60px;
  color: var(--primary);
  line-height: .85;
}

.left-container p {
  text-align: left;
  font-size: 32px;
  width: fit-content;
  margin-bottom: 100px;
  padding-top: 28px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.right-container .img-big {
  width: 720px;
  margin-right: 14%;
}

.small-img{
  display: none;
}

@media (max-width: 800px) {
.home-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.left-container {
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-container p {
  margin-bottom: 48px;
}

  .img-big {
    display: none;
  }

  .small-img {
    display: flex;
    width: 400px;
  }

}