body {
  margin: 0;

}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-img {
  width: 250px;
  padding: 0 20px;
}

.carousel-item {
  display: inline-flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 490px;
}

.carousel-item-text {
  margin: 40px 0;
  padding: 0 20px;
  white-space: normal;
}

.carousel-btns {
  display: flex;
  justify-content: space-evenly;
}

.arrow-btn {
  height: 30px;
  cursor: pointer;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.indicator-btn {
  background: none;
  color: white;
  font-size: 60px;
  padding: 0 10px;
  cursor: pointer;
}

.indicator-btn-active {
  color: var(--light-blue);
}