body {
  margin: 0;

}

.carousel-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin-top: 20px;
}

.carousel {
  overflow: hidden;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  /* display: flex; */
}

.carousel-img {
  margin-top: 5%;
  width: 630px;
  border-radius: 20px;
  /* padding: 0 20px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.carousel-item {
  /* display: inline-flex; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 680px;
}

.carousel-item-text {
  /* margin: 40px 0; */
  padding: 0 20px;
  white-space: normal;
  /* padding-bottom: 40px; */
}

.carousel-item-text h3 {
  margin: 30px 0 10px 0;
}

.carousel-btns {
  padding-top: 0;
  margin-top: -40px;
  display: flex;
  justify-content: space-evenly;
}

.arrow-btn {
  height: 30px;
  cursor: pointer;
  padding-bottom: 32px;
  font-weight: 800;
  border-radius: 80px;
  margin: 34px 10px 0 8px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.indicator-btn {
  background: none;
  color: white;
  font-size: 60px;
  padding: 0 10px;
  cursor: pointer;
}

.indicator-btn-active {
  color: var(--light-blue);
  background: none;
  font-size: 60px;
  padding: 0 10px;
  cursor: pointer;
}