.skills-container {
  background-color: var(--dark-blue);
  height: 100vh;
  width: 100%;
}

.skill-card-container {
  display: flex;
  justify-content: center;
  margin: 80px 0px 0px 0px;

}

.skills-container h1 {
  margin-top: 0;
  padding-top: 80px;
  font-size: 80px;
  text-align: center;
}

.skill-card {
  border-radius: 4px;
  height: 400px;

  max-height: fit-content;
  width: 240px;
  background-color: var(--blue);
  margin: 0 2%;
  transition: transform 0.3s;
  /* cursor: pointer; */
  padding: 50px;
}

.skill-card:hover {
  transform: scale(1.1); 
}

.skill-card:not(:hover) {
  transition: transform 0.3s;
}

.skill-card img {
  height: 45px;
  width: 45px;
  margin-bottom: 20px;
}

.skill-card h3 {
  font-size: 20px;
  font-weight: 800;

}

.skill-card ul {
  list-style: none;
  padding: 0px;
}

.skill-card li::before {
  content: '>> ';
  color: var(--light-blue);
  font-weight: 800;
  margin-right: 8px;
}

.skill-card li {
  font-size: 18px;
  color: var(link-color);
  padding-bottom: 14px;
}