.skills-container {
  background-color: var(--background-one);
  height: 900px;
  width: 100%;
  background-image: url('./src/assets/background-scribble.svg');
  background-size: cover;
}

.skill-card-container {
  display: flex;
  justify-content: center;
  margin: 80px 0px 0px 0px;
}

.skills-container h1 {
  margin-top: 0;
  padding-top: 80px;
  font-size: 80px;
  text-align: center;
}

.skill-card {
  border-radius: 4px;
  height: 400px;
  max-height: fit-content;
  width: 240px;
  background-color: var(--background-two);
  margin: 0 2%;
  transition: transform 0.3s;
  padding: 50px;
}

.skill-card:hover {
  transform: scale(1.1); 
}

.skill-card:not(:hover) {
  transition: transform 0.3s;
}

.skill-card img {
  height: 45px;
  width: 45px;
  margin-bottom: 20px;
}

.skill-card h3 {
  font-size: 20px;
  font-weight: 800;
}

.skill-card ul {
  list-style: none;
  padding: 0px;
}

.skill-card li::before {
  content: '>> ';
  color: var(--primary);
  font-weight: 800;
  margin-right: 8px;
}

.skill-card li {
  font-size: 18px;
  color: var(link-color);
  padding-bottom: 14px;
}

@media (max-width: 800px) {
.skills-container {
  height: fit-content;
}

  .skills-container h1 {
    font-size: 60px;
    margin: 0 10%;
  }

  .skill-card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill-card {
    width: 50%;
    margin-bottom: 40px;
  }


  .skill-card ul,
  .skill-card h3,
  .skill-card img {
    padding-left: 16%;
  }
}