/* global styles for the entire application */

:root {
  font-family: var(--dm-san);
  --dm-serif: 'DM Serif Display', serif;
  --dm-san: 'DM Sans', sans-serif;
  height: 100%;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--blue);

  --blue: #144272;
  --dark-blue: #0A2647;
  --light-blue: #2C74B3;

  --text-color: #FFFFFF;
  --link-color: #B0BDC1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-color);
}

body {
  overflow: auto;  
}

h1, h3 { margin: 7px 0px 14px 0px; }

h1 {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--dm-serif);
  line-height: 1;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}

p {
  margin: 0;
  opacity: .8;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  /* text-align: justify; */
  /* text-align-last: center; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
  width: fit-content;
}
button:hover {
  border-color: var(--dark-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
