header {
  padding: 10px;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav a {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 24px;
  padding-top: 10px;
  font-weight: 800;
}

nav a.active {
  font-weight: 800;
  color: var(--text-color);
}

@media (max-width: 480px) {
  nav a {
    font-size: 18px;
    margin: 0 auto;
  }
}


