header {
  padding: 10px;
  background-color: transparent;
}

nav {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 28px;
}

nav a {
  margin-right: 20px;
  font-size: 24px;
  padding-top: 10px;
  font-weight: 800;
}

nav a.active {
  font-weight: 800;
  color: var(--text-color);
}

/* header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--background-two); 
  opacity: .9; 
}

header.sticky a {
  font-size: 32px;

} */
