header {
  padding: 10px;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-right: 28px;
}

nav a {
  margin-right: 20px;
  font-size: 27px;
  padding-top: 10px;
}

nav a.active {
  font-weight: 800;
  color: white;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  /* background-color: var(--blue);  */
  opacity: .9; 
}

header.sticky a {
  font-size: 24px;

}
